@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.color-picker-circle {
    border-radius: 50%; /* Make it circular */
    overflow: hidden;   /* Clip content */
    aspect-ratio: 1;    /* Maintain a square shape */
  }
  

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes highlight {
    0% {
      box-shadow: 0 0 0px rgba(255, 215, 0, 0);
    }
    50% {
      box-shadow: 0 0 15px rgba(255, 215, 0, 1);
    }
    100% {
      box-shadow: 0 0 0px rgba(255, 215, 0, 0);
    }
  }
  
  .animate-highlight {
    animation: highlight 3s ease-in-out;
  }
  